{% extends 'base.html'  %}
{% block title %}Register Page!{% endblock %}
{% block heading %}Sign Up{% endblock %}
{% block content %}


<p class='lead'>Register below to join our application!</p>

<form method='POST'>

  {{ form.hidden_tag() }}

  {% for field in form
    if field.widget.input_type != 'hidden' %}
  <div class='form-control'>
    {{ field.label }}
    {{ field(class_="form-control") }}

    {% for error in field.errors %}
    <span class='form-text text-danger'>{{ error }}</span>
    {% endfor %}
  </div>
  {% endfor %}

  <button class='btn btn-success' type='submit'>Register</button>

</form>
{% endblock %}